.contact-container {
  display: flex;
  background-color: rgb(18,75,129);
}

.contact-text {
  width: 400px;
  flex-grow: 1;
}

.contact-img {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.contact-img img {
  display: flex;
  height: 20em;
}

.contact-text h3 {
  width: 400px;
  font-size: 2.3em;
  color: #fc5185;
  text-shadow: 5px 5px #3fc1c9;
}

.contact-text h4 {
  width: 400px;
  font-size: 1.5em;
  color: #fc5185;
  text-shadow: 1px 1px #3fc1c9;
}

.contact-text p {
  width: 400px;
  font-size: 1.2em;
  color: #f5f5f5;
}

.contact-text p a {
  text-decoration: none;
  color: #f5f5f5;
  transition: 0.8s;
}

.contact-text p a:hover {
  color: #fc5185;
  text-shadow: 2px 2px #3fc1c9;
}

@media (max-width: 800px) {
  .contact-img img {
    height: 16em;
  }

  .contact-text h3, .contact-text h4, .contact-text p {
    width: 300px;
  }
  .contact-text h3 {
    font-size: 1.7em;
    color: #fc5185;
    text-shadow: 5px 5px #3fc1c9;
  }

  .contact-text h4 {
    font-size: 1em;
    color: #fc5185;
    text-shadow: 1px 1px #3fc1c9;
  }

  .contact-text p {
    font-size: 0.9em;
    color: #f5f5f5;
  }

}
