a {
  text-decoration: none;
}

.footer-cont {
  background-color: #fc5185;
  padding-top: 1em;
}

.links-cont {
  display: flex;
  justify-content: center;
}

.footer-link {
  margin: auto 1em auto 1em;
}

.footer-link svg {
  color: #f5f5f5;
}

.logo-links {
  padding-bottom: 5px;
}

.footer-link-us {
  visibility: hidden;
  border: 2px solid #f5f5f5;
  box-shadow: 2px 2px #3fc1c9;
}

.footer-link-us:hover {
  visibility: visible;
}

.cc-cesar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #f5f5f5;
}

.cc-cesar a {
  color: #f5f5f5;
  opacity: 0.6;
  transition: 0.8s;
}

.cc-cesar a:hover {
  opacity: 1;
  color: black;
  text-shadow: 2px 2px #3fc1c9;
  transition: 0.3s;
}
