.profile-container {
  background-color: #f5f5f5;
  padding-top: 5.5em;
  padding-bottom: 5.5em;
}

.profile-img {
  display: flex;
  justify-content: center;
}

.profile-img img {
  background-color: white;
  border-radius: 50%;
  object-fit: contain;
  width: 15em;
  height: 15em;
}

.blue {
  position: relative;
  background-color: #3fc1c9;
  border-radius: 50%;
  width: 15em;
  height: 15em;
}

.pink {
  position: relative;
  background-color: #fc5185;
  border-radius: 50%;
  width: 15em;
  height: 15em;
}

.profile-about {
  padding-top: 1em;
}

.profile-about-p-cont {
  margin: auto;
  width: 600px;
  padding-bottom: 3em;
}

.profile-about-p-cont h2 {
  font-size: 2em;
  text-shadow: 5px 5px #3fc1c9;
}

.profile-about-p-cont h3 {
  font-size: 1.6em;
}

.profile-about-p-cont p {
  font-size: 1.3em;
}

#nerd {
  text-decoration: line-through;
}

.can-do {
  width: 600px;
  margin: auto;
  padding-bottom: 3em;
}

.can-do h2 {
  font-size: 2em;
  text-shadow: 5px 5px #3fc1c9;
}

.can-do h3 {
  font-size: 1.6em;
}

.can-do p {
  font-size: 1.2em;
}

.can-help {
  width: 600px;
  margin: auto;
}

.can-help h2 {
  font-size: 2em;
  text-shadow: 5px 5px #3fc1c9;
}

.can-help h3 {
  font-size: 1.6em;
}

.can-help p {
  font-size: 1.2em;
}

a {
  color: black;
  text-shadow: 1px 1px #fc5185;
  transition: 0.8s;
}

a:hover {
  text-shadow: 2px 2px #3fc1c9;
  transition: 0.3s;
}
