@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
  font-family: 'Bungee Inline', cursive;
}

.intro-container {
  background-color: #eeeeee;
  width: 100%;
}

.greeting {
  text-align: center;
  padding-top: 5%;
}

.greeting h1 {
  margin-top: 0;
}

.intro-img-container {
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
}
