nav {
  display: flex;
  background-color: pink;
  padding-top: 0.8em;
  padding-bottom: 0.5em;
}

.logo-container {
  display: flex;
  flex-grow: 1;
  padding-left: 15%;
}

.links-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-left: 10%;
  padding-right: 15%;
}
.logo-nav {
  height: 7em;
  width: 7em;
  object-fit: cover;
  border-radius: 50%;
}

.nav-link {
  margin: auto 1em auto 1em;
}
